html::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#FF6900, #FFC80E);
    z-index: -1;
}
.navbar{
    height: 80px;
    align-content: first baseline;
}

.custom-icon {
    color: red; 
}

.custom-icon-2 {
    color: green;
}

.btn{
    border: black;
}

#but{
    background-color: white;
    color: black;
}
